@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" style="position: relative;top: 3px;left: 30px;" title="Manage"><img src="~/google api/img/icon/account-40.png" height="40" width="40" alt="Account Icon" /></a>
            </li>
            <li class="nav-item">
                <button type="submit" style="position: relative;top: 1px;left: 14px;" class="btn btn-link navbar-btn"><img src="~/google api/img/icon/logout-50.png" width="50" height="50" alt="Log Out Icon" /></button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register" style="color: #fff;">
            <span class="glyphicon glyphicon-user"></span>
            Đăng Ký
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login" style="color: #fff;">
            <span class="glyphicon glyphicon-log-in"></span>
            Đăng Nhập
            </a>
        </li>
    </ul>
}